@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

/* MAIN */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.title {
    margin: 40px 0;
}

.container {
    width: 1200px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(2, minmax(600px, 1fr));
    grid-gap: 20px;
    grid-auto-flow: dense;
    list-style: none;
    padding: 0;
    margin: 1em auto;
}

.project {
    width: 600px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 1px 8px rgba(56, 56, 56, 0.46);
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    opacity: 0;
    transition: opacity 2.5s;
}

.project.active {
    opacity: 1;
}

.project_img {
    width: 300px;
    height: 100%;
    z-index: 1;
}

.project_img img {
    height: 150%;
    object-fit: cover;
    object-position: center;
    transform: translateY(-25%);
    transition: all 0.4s;
}

.project:hover .project_img img {
    height: 200%;
    object-fit: cover;
    object-position: center;
}

.project_info {
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
}

.project_info .project_up {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.project_info .project_title {
    margin-bottom: 10px;
}

.project_info .project_description {
    text-align: left;
    font-size: 15px;
    margin-bottom: 10px;
}

.project_tecnology {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.project_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.project_tecnology img {
    width: 30px;
    margin-right: 10px;
}

.project .link_github {
    width: 50px;
    height: 50px;
    font-size: 50px;
    text-decoration: none;
    align-items:center;
    display: flex;
    justify-content: center;
    transition: transform 0.5s;
}

.project .link_github .github_icon {
    color: rgb(100, 100, 100);
    font-size: 80%;
    transition:transform 0.5s;
}

.project .link_github:hover .github_icon {
    transform: scale(1.2);
}

/* MOVILE */

@media only screen and (max-width: 1300px) {

    /* MAIN */

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
    }
}

@media only screen and (max-width: 800px) {

    /* MAIN */

    .container {
        min-width: 0;
    }

}

@media only screen and (max-width: 625px) {

    /* MAIN */

    .project {
        width: 350px;
        height: auto;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        box-shadow: 0 1px 8px rgba(56, 56, 56, 0.46);
        overflow: hidden;
        margin-bottom: 20px;
    }
    
    .project_img {
        width: 100%;
        height: 150px;
        z-index: 1;
    }
    
    .project_img img {
        width: 150%;
        object-fit: cover;
        object-position: center;
        transition: all 0.4s;
    }

    .project:hover .project_img img {
        width: 200%;
        object-fit: cover;
        object-position: center;
    }

    .project_info {
        height: auto;
        background-color: white;
        z-index: 2;
    }

    .project_description {
        text-align: center;
    }

}