@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

/* HEADER */

header::before {
	content:  "";
	display:  block;
	margin-bottom: 80px;
}

nav {
	width:  100%;
	height: 80px;
	background: rgb(235, 215, 202);
	border-bottom: 1px solid transparent;
	box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .2);
	position: fixed;
	top: 0;
	z-index: 100;
	transition: ease-in-out 0.5s;
}

.nav {
	display: flex;
	justify-content: space-around;
	height: 80px;
	width: 100%;
	align-items: center;
}

.avg {
    font-size: 50px;
    font-family: 'Source Code Pro', monospace;
}

.download_curriculum {
    text-decoration: none;
    color: black;
}

.menu {
    display: flex;
    flex-direction: row;
}

.menu a {
    text-decoration: none;
    color: black;
    transition: all 0.4s;
    font-size: 18px;
}

.menu a:hover {
    color: white;
}

/* MAIN */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.title {
    margin: 40px 0;
}

.container {
    width: 50%;
    min-width: 700px;
    margin-bottom: 30px;
}

.part {
    border-radius: 20px;
    margin-bottom: 30px;
    text-align: left;
    padding: 0 20px;
}

.part .part_item {
    padding: 10px;
    box-shadow: 0 1px 5px rgba(56, 56, 56, 0.46);
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 15px;
}

.part .subtitle {
    margin-bottom: 20px;
    color: rgb(100,100,100);
}

.part .item_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
}

.part .item_date p {
    font-size: 18px;
    font-weight: 700;
    color: rgb(100,100,100);
}

.part .item_business {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.part .item_business img {
    width: 70px;
}

.part .item_business p {
    font-size: 20px;
    font-weight: 800;
}

.part .item_description {
    margin-bottom: 5px;
}

.part .item_links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.part .item_links a {
    text-decoration: none;
    color: rgb(100,100,100);
    border-width: 2px;
    border-style: solid;
    border-radius: 30px;
    border-color: rgb(100,100,100);
    padding: 5px 10px;
    margin-right: 10px;
    transition: all 0.4s;
}

.part .item_links a:hover {
    background-color: rgb(100,100,100);
    color: white;
    transform: scale(1.1);
}

.part .list_items_ability {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: 20px;
    grid-auto-flow: dense;
    list-style: none;
    margin: 1em auto;
    padding: 0;
    max-width: 800px;
}

.part .item_ability {
    display: inline-block;
    padding: 5px 15px;
    border-width: 2px;
    border-style: solid;
    border-radius: 30px;
    border-color: black;
    height: 40px;
}

.part .item_ability div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.part .item_ability div img {
    width: 30px;
    margin-right: 10px;
}

.part .item_ability div p {
    font-size: 16px;
    font-weight: 700;
    width: auto;
}

/* FOOTER */

footer {
    height: 150px;
    background-color: rgb(100,100,100);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.container_cv {
    border-width: 2px;
    border-style: solid;
    border-radius: 30px;
    border-color: white;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    transition: all 0.4s;
}

.container_cv:hover {
    background-color: white;
    color: black;
    transform: scale(1.2);
}

.cv {
    font-size: 16px;
    font-weight: 400;
}

.cv_icon {
    margin-right: 10px;
}

.social {
    display: flex;
}

.social__item {
    width: 40px;
    height: 40px;
    text-decoration: none;
    align-items:center;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    font-size: 40px;
    transition: transform 0.5s;
    margin-right: 20px;
}

.social__icon {
    color: white;
    font-size: 60%;
    transition:transform 0.5s;
}

.social__item:hover {
    background: white;
    border-color: white;
    transform: scale(1.2);
}

.social__item:hover .social__icon {
    color: rgb(100,100,100);
}


.contact__item {
    display: flex;
    margin-bottom: 10px;
}

.contact__icon {
    color: white;
    font-size: 20px;
    margin-right: 10px;
}

.contact__value {
    color: white;
    font-size: 16px;
    font-weight: 200;
}

/* MOVILE */

@media only screen and (max-width: 800px) {

    /* HEADER */

    header::before {
        margin-bottom: 100px;
    }
    
    nav {
        height: 100px;
    }
    
    .nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100px;
    }

    /* MAIN */

    .container {
        min-width: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .part_item {
        min-width: 250px;
        width: 80vw;
    }

    .part_item .item_header {
        display: flex;
        flex-direction: column;
    }

    .item_date p {
        font-size: 14px;
        font-weight: 600;
    }

    .item_business img {
        width: 50px;
    }

    .item_business p {
        font-size: 14px;
    }

    .part .list_items_ability {
        display: grid;
        grid-template-columns: repeat(2, minmax(120px, 1fr));
        grid-gap: 20px;
        grid-auto-flow: dense;
        list-style: none;
        margin: 1em auto;
        padding: 0;
        max-width: 800px;
    }

    /* FOOTER */

    footer {
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .cv {
        font-size: 12px;
    }
    
    .cv_icon {
        font-size: 12px;
        margin-right: 5px;
    }
    
    .social__item {
        width: 35px;
        height: 35px;
        font-size: 35px;
    }
    
    .contact__icon {
        color: white;
        font-size: 14px;
        margin-right: 10px;
    }
    
    .contact__value {
        color: white;
        font-size: 14px;
        font-weight: 200;
    }

}